<!-- De Thiago Lacoste -->

<div class="container my-5">
    <h1 class="text-start">Contact</h1>git push origin master

    <p class="text-start fs-5"> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero excepturi dolore
        nam explicabo accusantium veritatis optio totam, omnis esse nisi est velit labore hic quidem enim. Error
        deleniti quae ullam.
    </p>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
    <div class="bg-light p-4 rounded border">
        <form>
            <div class="row mb-3 align-items-center">
                <label for="email" class="col-sm-3 col-form-label text-end fw-bold">Your E-mail</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" placeholder="Your email">
                </div>
            </div>

            <div class="row mb-3">
                <label for="message" class="col-sm-3 col-form-label text-end fw-bold">Your message</label>
                <div class="col-sm-9">
                    <textarea class="form-control" id="message" rows="5"
                        placeholder="Please enter your message here..."></textarea>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-end">
                    <button type="submit" class="btn btn-primary px-4">Submit</button>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
</div>