<!-- CARLOS CANGANA -->
<div class="container my-5">
    <div class="row justify-content-center">

        

            <div class="col-md-8 text-md-start text-center">

                <h1 class="fw-bold">This First <span class="text-secondary"> Will Catch Your Eye</span></h1>


                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat. </p>


            </div>
            <div class="col-md-4 text-center">


                <img src="assets/img/1.jpg" class="img-fluid rounded-circle" style="width: 300px;" alt="...">


            </div>




    

    </div>
</div>