<!-- your html code here -->
<div class="container my-5">
    <h1>Porfolio</h1>
    <p class="mb-4 fs-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem alias reprehenderit
        accusamus numquam odit doloremque enim libero dignissimos dolorum similique! Quidem, voluptatibus fugit quasi
        molestias quis ipsa doloremque eaque quae.</p>
    <div class="row g-5 text-start">
        <div class="col-12 col-md-4">
            <div class="card h-100">
                <img src="https://armamsstorage.blob.core.windows.net/public-dev/assets/260/newsPostBannerImage/217_700x400.png" class="img-fluid mb-3" alt="">
                    <h4 class="text-primary">Project Name</h4>
                    <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempore doloremque veritatis asperiores qui modi quisquam velit quia quos fuga.</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card h-100">
                <img src="https://armamsstorage.blob.core.windows.net/public-dev/assets/260/newsPostBannerImage/217_700x400.png" class="img-fluid mb-3" alt="">
                    <h4 class="text-primary">Project Name</h4>
                    <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempore doloremque veritatis asperiores qui modi quisquam velit quia quos fuga.</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card h-100">
                <img src="https://armamsstorage.blob.core.windows.net/public-dev/assets/260/newsPostBannerImage/217_700x400.png" class="img-fluid mb-3" alt="">
                    <h4 class="text-primary">Project Name</h4>
                    <p class="small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempore doloremque veritatis asperiores qui modi quisquam velit quia quos fuga.</p>
            </div>
        </div>
    </div>
</div>