<!-- your html code here -->
<div class="container my-5">
    <h2 class="fw-bold">Portafolio</h2>
    <p class="text-muted mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem alias reprehenderit
        accusamus numquam odit doloremque enim libero dignissimos dolorum similique! Quidem, voluptatibus fugit quasi
        molestias quis ipsa doloremque eaque quae.</p>
    <div class="row g-4">
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://armamsstorage.blob.core.windows.net/public-dev/assets/260/newsPostBannerImage/217_700x400.png" class="img-fluid mb-3" alt="">
                    <h4 class="text-primary">Project Name</h4>
                    <p class="small text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempore doloremque veritatis asperiores qui modi quisquam velit quia quos fuga.</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://armamsstorage.blob.core.windows.net/public-dev/assets/260/newsPostBannerImage/217_700x400.png" class="img-fluid mb-3" alt="">
                    <h4 class="text-primary">Project Name</h4>
                    <p class="small text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempore doloremque veritatis asperiores qui modi quisquam velit quia quos fuga.</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="https://armamsstorage.blob.core.windows.net/public-dev/assets/260/newsPostBannerImage/217_700x400.png" class="img-fluid mb-3" alt="">
                    <h4 class="text-primary">Project Name</h4>
                    <p class="small text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur tempore doloremque veritatis asperiores qui modi quisquam velit quia quos fuga.</p>
            </div>
        </div>
    </div>
</div>